<!DOCTYPE html>
<html>

<head>
    <title>Reconhecimento de voz com Python e Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showLoader() {
            document.getElementById("loader").style.display = "inline-block";
            setTimeout(function () {
                document.getElementById("message").innerHTML = "Fale agora!";
            }, 1500);
        }
    </script>

</head>

<body>
    <h1>Reconhecimento de voz com Python e Flask</h1>
    <form method="POST" onsubmit="showLoader()">
        <div class="button-container">
            <button type="submit">Clique para falar um número</button>
            {% if start %}
            <p>{{ start }}</p>
            {% endif %}
            <p id="message"></p>
            <div class="loader" id="loader"></div>
        </div>
    </form>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    {% if cpf %}
    <p>O CPF falado foi: {{ cpf }}</p>
    {% endif %}
</body>

</html>